@import '~antd/dist/antd.css';

#root {
	background-image: linear-gradient(#4c475e, #56506c);
}

.login-form {

}
.login-form-forgot {
  float: right;
  color: #fff;
}
.login-form-signup {
	float: left;
	color: #fff;
}
.login-form-button {
  width: 100%;
}

#signUpForm label {
  color: #fff;
  float: left;
}

.ant-steps-item-finish .ant-steps-item-title{
  color: #7f7993 !important;
  font-size: 12px !important;
}

.ant-steps-item-process .ant-steps-item-title{
  color: white !important;
  font-size: 12px !important;
}

.ant-steps-item-wait .ant-steps-item-title{
  color: #7f7993 !important;
  font-size: 12px !important;
}
